!!! 5
html(lang="en")
  head
    title Groc Default Template v2
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0")
    link(rel="stylesheet", type="text/css", media="all", href="style.css")
    script(src="script/zepto.js", type="text/javascript")
    script(src="script/nav.js", type="text/javascript")
  body
    document
      segment
        comments
          h1 Some Documented File
          p Cras arcu augue, pellentesque vitae facilisis nec, commodo sit amet leo. Aliquam quis dapibus diam. Morbi pharetra egestas orci vitae porttitor. Phasellus ultrices, elit vitae tristique blandit, mauris nibh ultrices diam, quis convallis est est at nunc. Donec dapibus augue vel nibh cursus vel blandit ante vulputate. Morbi lorem enim, aliquet sit amet aliquet ac, gravida vitae lacus. Aenean dapibus ullamcorper lacinia. Aenean urna felis, laoreet non ultrices et, pellentesque et libero. Morbi egestas felis at augue rhoncus vitae semper ante scelerisque. Nunc eu urna tortor, in adipiscing metus. Vestibulum vestibulum pellentesque lectus, in pellentesque diam commodo et.
          h2 A h2 is Me
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a ante leo, at volutpat neque. Nunc mollis rutrum enim, vitae hendrerit neque suscipit a. Aenean pretium, felis ut accumsan cursus, ipsum justo vulputate neque, vel fermentum nunc sem quis ante. Donec mauris urna, tincidunt a scelerisque ut, pulvinar a velit. Pellentesque at euismod lectus. Curabitur hendrerit, dui at hendrerit ultricies, mi odio aliquet nisi, a lobortis tortor metus quis nisl. Sed viverra leo varius erat consequat volutpat. Cras pellentesque diam vel est volutpat fringilla. Nunc eget sapien at dolor consequat molestie in sit amet augue. Donec condimentum mattis lacus, et mattis massa gravida eget. Nam pharetra, leo et sollicitudin vehicula, mauris massa pulvinar nisi, tristique aliquam diam augue quis dui. Fusce gravida, ipsum eget pharetra vulputate, velit orci aliquam enim, ut elementum purus nunc nec dolor. Donec et ante urna. Morbi vestibulum egestas turpis, non convallis lacus ullamcorper sed.
          h3 I'm a Third Level Header
          p Duis sed diam ipsum. Nulla commodo, tortor a porttitor volutpat, lorem erat pharetra augue, ut egestas odio odio et lacus. Proin pulvinar ullamcorper risus non mattis. Nam metus sapien, pulvinar sit amet congue in, porta pretium ipsum. In hac habitasse platea dictumst. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis posuere nulla, eleifend viverra arcu venenatis in. Maecenas vulputate neque ac dolor dignissim mollis. Morbi justo leo, dictum eget sodales non, suscipit quis neque. Cras turpis magna, sagittis laoreet rutrum suscipit, laoreet at eros. Nunc lacinia erat sed dui vestibulum bibendum nec non lorem. Aliquam erat volutpat. Sed placerat congue tincidunt. Pellentesque feugiat facilisis justo nec condimentum. Phasellus quam quam, ornare non molestie a, euismod id nulla. Aliquam rutrum sodales justo, vel porttitor ligula laoreet non.
          h4 Hi ho hi ho Fourth we go
          p Donec pharetra nisi eu elit gravida ut dictum ipsum consectetur. Donec et neque sit amet tellus suscipit vehicula. Nunc semper mattis erat quis hendrerit. Mauris vel diam ac dolor varius placerat. Aenean cursus turpis at lacus volutpat eget sodales leo sagittis. Praesent sodales commodo adipiscing. Suspendisse et ante a ante euismod malesuada nec et ligula. Sed at lacinia sem. Suspendisse blandit posuere elit, porta fermentum magna pharetra at. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed eget urna at eros tincidunt vulputate porttitor eu ante. Cras tincidunt dolor vel mi adipiscing vel lacinia libero lobortis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Curabitur quis mauris leo.
          h5 h5 and Stuff
          p Donec eget ante orci. Praesent vel odio ut risus aliquet ultricies. Integer odio lorem, varius non vulputate eget, suscipit nec sem. In aliquet, urna vitae euismod hendrerit, felis metus scelerisque lorem, non facilisis dolor tortor sit amet erat. Maecenas et augue leo. Nunc vulputate, velit nec suscipit pretium, orci ante dapibus ligula, vitae pulvinar libero elit eu nunc. Quisque et sollicitudin dui. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc malesuada lorem eget sapien facilisis sollicitudin. Vestibulum nec nulla vel urna commodo faucibus ac non lorem. Vestibulum dignissim tincidunt molestie. Nullam vitae diam nec arcu vestibulum egestas id ac velit. Mauris sed purus at est pulvinar auctor. Nulla dictum, magna in viverra lacinia, urna augue pharetra leo, non consectetur est nibh ut mi.
          h6 Foo bar baz
          p Phasellus eu bibendum sem. Nunc placerat turpis at mi suscipit eu eleifend velit ornare. Sed leo sem, pharetra in lacinia vel, placerat ut felis. Curabitur molestie luctus fermentum. Quisque mollis sapien nec magna ornare pulvinar. Suspendisse sed ipsum in risus feugiat ornare. Aliquam imperdiet, justo et facilisis consequat, ligula purus ornare justo, vel tristique diam lorem a eros. Duis mollis, dolor in feugiat volutpat, dolor lectus lobortis ante, ut euismod tellus mauris sed nibh. In neque lacus, convallis eget molestie ac, varius et dolor. Nam laoreet tempus tortor vitae rhoncus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

      segment
        comments
          p Some junk
          p Some more junk
        code def ohai
          |   "I'm code!"
          | end

      segment
        comments          
          p Nullam rhoncus tempor imperdiet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In tortor erat, sollicitudin vel vestibulum nec, molestie vel metus. Curabitur dictum ipsum vel justo convallis quis congue purus interdum. Nam nulla quam, faucibus a tristique vel, scelerisque sed lectus. Morbi lectus est, sodales vitae viverra sit amet, viverra quis ipsum. Integer tempor erat in enim vehicula vel cursus dui vestibulum. Nam accumsan vehicula nibh ac pharetra. Nulla eu sem in mi commodo gravida. Phasellus sed dui ac enim accumsan tincidunt a ac massa. Curabitur et lacinia sem.
          p Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Ut vitae quam non turpis lacinia laoreet. Nulla dui arcu, sollicitudin et ultricies a, congue et dolor. Praesent nibh dui, viverra eu condimentum eu, mattis eu est. Praesent ornare dui a eros euismod sit amet feugiat metus ultrices. Sed dictum tortor ut est tristique pharetra. Quisque nec lacus et dui eleifend ullamcorper sed quis velit. Donec ipsum nulla, varius sed tincidunt et, accumsan sit amet nisl. Nullam fringilla vestibulum magna, quis accumsan tortor sagittis aliquam. Vivamus aliquet elit sed leo ultrices vulputate. Integer ultrices facilisis pulvinar. Nullam ac odio vel urna faucibus lobortis. Morbi vitae condimentum est. Nullam laoreet dolor ac est aliquet id mollis velit hendrerit. In sit amet lacus at est auctor sodales in ut diam.

    nav
      menu
        action#github Github
        action#table-of-contents ToC
        action#outline Outline
        // input fields don't appear to respond to box-flex properly
        section.search
          input#search(type="search")
      // sadface
      .sections-wrapper
        sections
          toc
            | Table of Contents
          outline
            | Outline and stuff
