html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
document,
segment,
comments,
menu,
action,
sections {
  display: block;
}
code {
  display: block;
  white-space: pre;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
}
code {
  font-family: 'Menlo', 'Droid Sans Mono', 'Consolas', 'Courier New', 'Courier', monospace;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Optima-Bold', 'Optima', 'Candara-Bold', 'Candara', 'Arial', sans-serif;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
h1 {
  font-size: 48px;
  line-height: 66px;
}
h2 {
  font-size: 32px;
  line-height: 44px;
}
h3 {
  font-size: 28px;
  line-height: 44px;
}
h3 {
  font-size: 24px;
  line-height: 44px;
}
h4 {
  font-size: 22px;
  line-height: 22px;
}
h5 {
  font-size: 20px;
  line-height: 22px;
}
body {
  -webkit-text-size-adjust: 100%;
}
document {
  position: relative;
}
document segment:first-child {
  padding-top: 44px;
}
document segment:last-child {
  padding-bottom: 44px;
}
p,
code {
  padding: 11px 0px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 33px 0px 11px 0px;
}
segment > * {
  padding-left: 22px;
  padding-right: 22px;
}
nav menu,
nav sections {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 352px;
}
nav menu {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  z-index: 1000;
}
nav menu > * {
  height: 44px;
  padding: 11px;
}
nav menu .search {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
nav menu .search #search {
  width: 100%;
}
nav sections {
  top: 44px;
  bottom: 0px;
  z-index: 1010;
}
@media (max-width: 550px) {
  nav menu,
  nav sections {
    width: 100%;
  }
  segment {
    display: block;
  }
  segment comments {
    width: auto;
  }
  document {
    overflow: auto;
  }
}
@media (min-width: 551px) {
  segment {
    display: -webkit-box;
    display: -moz-box;
    display: -o-box;
    display: -ms-box;
    display: box;
  }
  segment > comments {
    width: 550px;
  }
  document {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  html,
  body {
    height: 100%;
  }
}
document,
nav menu {
  -webkit-transform: translate3d(0, 0, 0);
}
nav .sections-wrapper {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 100%;
  height: 0%;
  overflow: hidden;
  -webkit-transition: height 0ms 350ms;
  -moz-transition: height 0ms 350ms;
  -o-transition: height 0ms 350ms;
  -ms-transition: height 0ms 350ms;
  transition: height 0ms 350ms;
}
.nav-expanded nav .sections-wrapper {
  -webkit-transition: height 0ms 0ms;
  -moz-transition: height 0ms 0ms;
  -o-transition: height 0ms 0ms;
  -ms-transition: height 0ms 0ms;
  transition: height 0ms 0ms;
  height: 100%;
}
@media (min-width: 551px) {
  .nav-expanded nav .sections-wrapper {
    -webkit-transition: height 0ms 0ms, width 0ms 350ms;
    -moz-transition: height 0ms 0ms, width 0ms 350ms;
    -o-transition: height 0ms 0ms, width 0ms 350ms;
    -ms-transition: height 0ms 0ms, width 0ms 350ms;
    transition: height 0ms 0ms, width 0ms 350ms;
    width: 352px;
  }
}
@media (max-width: 550px) {
  nav sections {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  document {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  nav sections,
  document {
    -webkit-transition: -webkit-transform 350ms;
    -moz-transition: -moz-transform 350ms;
    -o-transition: -o-transform 350ms;
    -ms-transition: -ms-transform 350ms;
  }
  .nav-expanded nav sections {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .nav-expanded document {
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@media (min-width: 551px) and (max-width: 901px) {
  nav sections {
    -webkit-transition: -webkit-transform 350ms, opacity 350ms;
    -moz-transition: -moz-transform 350ms, opacity 350ms;
    -o-transition: -o-transform 350ms, opacity 350ms;
    -ms-transition: -ms-transform 350ms, opacity 350ms;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  .nav-expanded nav sections {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@media (min-width: 902px) {
  nav sections {
    -webkit-transition: -webkit-transform 350ms;
    -moz-transition: -moz-transform 350ms;
    -o-transition: -o-transform 350ms;
    -ms-transition: -ms-transform 350ms;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  document {
    -webkit-transition: right 0ms 0ms;
    -moz-transition: right 0ms 0ms;
    -o-transition: right 0ms 0ms;
    -ms-transition: right 0ms 0ms;
    transition: right 0ms 0ms;
  }
  .nav-expanded document {
    -webkit-transition: right 0ms 350ms;
    -moz-transition: right 0ms 350ms;
    -o-transition: right 0ms 350ms;
    -ms-transition: right 0ms 350ms;
    transition: right 0ms 350ms;
    right: 352px;
  }
  .nav-expanded nav sections {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
