@import 'nib'

@import 'style/base'
@import 'style/typography'
@import 'style/layout'
@import 'style/behavior'


.sections-wrapper
  background: rgba(blue, 5%)
sections
  background: rgba(red, 5%)

//@import 'style/debugging'
