@import 'nib'

@import 'style/base'
@import 'style/typography'
@import 'style/layout'
@import 'style/behavior'

// Typography mode
document, nav menu, nav sections > *
  background: white

//@import 'style/debugging'
