global-reset()
reset-html5()

// groc-specific tags & base styling 
document, segment, comments, menu, action, sections
  display: block

code
  display: block
  white-space: pre

// IE got this one right
*, *:before, *:after
  box-sizing: border-box
