// # Behavior & Animations

$nav-anim-duration = 350ms

// Until https://github.com/visionmedia/nib/pull/95
transition-with-transform($args, $props...)
  unshift($props, unquote("transform") $args)
  for $prefix in webkit moz o ms
    -{$prefix}-transition: s('-%s-%s', $prefix, unquote(join(', ', $props)))


// ## Common Behavior

// We make sure that our major layers are composited so that webkit is ok w/
// all this animation.
document, nav menu
  -webkit-transform: translate3d(0,0,0)

// We use `.sections-wrapper` to clip our `nav sections` properly, it's a lot
// simpler than dancing around browser bugs and animation states.
nav .sections-wrapper
  position: absolute
  right:    0px
  top:      0px
  width:    100%
  height:   0%
  overflow: hidden
  // On _return_, we flip back to a height of 0% _after_ the animation finishes.
  transition: height 0ms $nav-anim-duration

// On animation start, we immediately expand to full height.
.nav-expanded nav .sections-wrapper
  transition: height 0ms 0ms
  height: 100%

// One exception: For medium+ screen sizes, we only clip to the width of the
// `nav`, so that the wrapper isn't overlaying content.
@media (min-width: 551px)
  .nav-expanded nav .sections-wrapper
    transition: height 0ms 0ms, width 0ms $nav-anim-duration
    width: $nav-min-width

// ## Small Screens

@media (max-width: 550px)
  // We avoid a persistent header on small devices (`position: fixed` still
  // isn't a great experience, even on recent WebKits - and
  // `overflow-scrolling: touch` disables tap to tap behavior on an iPhone/iPod)
  nav sections
    transform: translate3d(100%,0,0)
  document
    transform: translate3d(0,0,0)
  nav sections, document
    transition-with-transform($nav-anim-duration)

  .nav-expanded
    nav sections
      transform: translate3d(0,0,0)
    document
      transform: translate3d(-100%,0,0)

// ## Medium Screens

@media (min-width: 551px) and (max-width: 901px)
  // Since we don't have enough room to display three columns (`comments`,
  // `code`, `nav`), we opt to go with the pop-over approach.
  nav sections
    transition-with-transform($nav-anim-duration, "opacity" $nav-anim-duration)
    // By default, faded and zoomed
    opacity:   0.0
    transform: scale(1.1)

  .nav-expanded nav sections
    opacity:   1.0
    transform: scale(1.0)

// ## Large Screens

// If we have enough room, we display the `nav` pane as a third column
// `$commentary-max-width + $nav-min-width`
@media (min-width: 902px)
  // We slide the nav panes in for this three column mode
  nav sections
    transition-with-transform($nav-anim-duration)
    // By default, `nav` panes are hidden off the edge of the screen
    transform: translate3d(100%,0,0)

  // This kicks in when _hiding_ the nav, it expands immediately as the `nav`
  // pane slides out.
  document
    transition: right 0ms 0ms

  // We constrict the `document`'s width, but after the nav pane has fully slid
  // in.
  .nav-expanded document
    transition: right 0ms $nav-anim-duration
    right: $nav-min-width

  // Slide the panes in.
  .nav-expanded nav sections
    transform: translate3d(0,0,0)
