// # Behavior & Animations

$nav-anim-duration = 225ms


// ## Common Behavior

// We use `.sections-wrapper` to clip our `nav sections` properly; this allows
// us to easily clip the `nav` transitions to within the window without
// resorting to `overflow: hidden` on the body which doesn't behave properly in
// all situations.
nav .sections-wrapper
  position: absolute
  right:    0px
  top:      0px
  width:    $nav-min-width
  height:   0%
  overflow: hidden
  // On _return_, we flip back to a height of 0% _after_ the animation finishes.
  transition: height 0ms $nav-anim-duration
  // One exception: for small screens, the wrapper spans the entire page as the
  // nav is generally not wider than the content
  @media (max-width: 550px)
    width: 100%

// On animation start, we immediately expand to full height.
.nav-expanded nav .sections-wrapper
  transition: height 0ms 0ms
  height: 100%

// We have to clip sections as well, otherwise the individual sections expand
// its width and you get more movement than is desired
sections { overflow: hidden }


// ### Individual Nav Sections

// We slide them back and forth, since they represent a bit of a hierarchy
nav sections > *
  transition: left $nav-anim-duration

nav sections.toc-active
  toc     { left: 0    }
  outline { left: 100% }

nav sections.outline-active
  toc     { left: -100% }
  outline { left:  0    }


// ## Small Screens

@media (max-width: 550px)
  // We avoid a persistent header on small devices (`position: fixed` still
  // isn't a great experience, even on recent WebKits - and
  // `overflow-scrolling: touch` disables tap to tap behavior on an iPhone/iPod)
  nav sections
    transition: right $nav-anim-duration
    right: -100%
  document
    transition: left $nav-anim-duration
    left: 0

  // We slide the `nav` in from the right, and the doucment out to the left.
  .nav-expanded
    nav sections { right: 0    }
    document     { left: -100% }

// ## Medium Screens

@media (min-width: 551px) and (max-width: 901px)
  // Since we don't have enough room to display three columns (`comments`,
  // `code`, `nav`), we opt to go with the pop-over approach.
  nav sections
    // transition: transform $nav-anim-duration, opacity $nav-anim-duration
    // Until https://github.com/visionmedia/nib/pull/95 hits...
    for $prefix in webkit moz o ms
      -{$prefix}-transition: unquote(s("-%s-transform", $prefix)) $nav-anim-duration, opacity $nav-anim-duration
    // By default, faded and zoomed
    opacity:   0.0
    transform: scale(1.025)

  .nav-expanded nav sections
    opacity:   1.0
    transform: scale(1.0)

// ## Large Screens

// If we have enough room, we display the `nav` pane as a third column
// `$commentary-max-width + $nav-min-width`
@media (min-width: 902px)
  // We slide the nav panes in for this three column mode
  nav sections
    transition: right $nav-anim-duration
    // By default, `nav` panes are hidden off the edge of the screen
    right: -100%
  // This kicks in when _hiding_ the nav, it expands immediately as the `nav`
  // pane slides out.
  document
    transition: right 0ms 0ms

  .nav-expanded 
    // We constrict the `document`'s width, but after the nav pane has fully
    // slid in.
    document
      transition: right 0ms $nav-anim-duration
      right: $nav-min-width
    // Slide the panes in.
    nav sections
      right: 0
    

// ## Browser-Specific Behaviors

// ### Scrollbar Juggling

// For browsers with discrete scrollbars (not the iOS-style overlay ones), we
// need to juggle `nav` nodes for sane transitions.
//
// scripts/compat applies the scrollbar width to the `right` property of all
// direct descendents of `nav`.

// Since the document is not positioned for small screens, no need to rely on
// this hack.
@media (max-width: 550px)
  nav > * { right: 0 !important }

// For large screens, we need to shift the menu as we move the document scroll
// bar around.
@media (min-width: 902px)
  // The sections transition in to the right location, so they're fine.
  nav .sections-wrapper
    right: 0 !important
  // The menu needs to slide
  nav menu
    transition: right $nav-anim-duration
  .nav-expanded nav menu
    right: 0 !important


// ### WebKit/iOS Tweaks

// `translate3d` gives us the best (hardware accelerated) animation performance,
// so we opt to use it when available in webkit

// We make sure that our major layers are composited so that webkit is ok w/
// all this animation.
document, nav menu, nav .sections-wrapper, nav sections > *
  -webkit-transform: translate3d(0,0,0)

// #### Small Screens
@media (-webkit-transform-3d) and (max-width: 550px)
  nav sections
    -webkit-transition: -webkit-transform $nav-anim-duration
    -webkit-transform: translate3d(100%,0,0)
    right: 0
  document
    -webkit-transition: -webkit-transform $nav-anim-duration
    -webkit-transform: translate3d(0,0,0)

  .nav-expanded
    nav sections
      -webkit-transform: translate3d(0,0,0)
      right: 0
    document
      -webkit-transform: translate3d(-100%,0,0)
      left: 0

// #### Large Screens
@media (-webkit-transform-3d) and (min-width: 902px)
  // We slide the nav panes in for this three column mode
  nav sections
    -webkit-transition: -webkit-transform $nav-anim-duration
    -webkit-transform: translate3d(100%,0,0)
    right: 0

  .nav-expanded nav sections
    transform: translate3d(0,0,0)
