debug-overlay($color)
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%
    background: rgba($color, 5%)
    border: 1px solid rgba($color, 50%)
    pointer-events: none

segment, nav
  background: linear-gradient(top, transparent, transparent $base-line-height - 1, rgba(black, 0.2) $base-line-height) 
  background-size: 100% $base-line-height
segment
  background-position: 0 ($base-line-height / 2)

nav
  debug-overlay: #990000
  menu
    debug-overlay: #ff00ff
  toc
    debug-overlay: #00ff00
  outline
    debug-overlay: #0000ff
