// # Layout

// When displaying commentary in two-column mode, this is the width we want.
$commentary-max-width = rhythm(25)
// This is the width of the nav bar when shown on a medium/large screen
$nav-min-width = rhythm(16)
// NOTE: stylus currently doesn't support interpolation within `@media` queries.
// Whenever you make a change to these configuration values, make sure to update
// the `@media` sections as well.
//
// See https://github.com/LearnBoost/stylus/issues/108

// ## Common Layout

// ### Content
document
  position: relative
  // Regardless of screen size, we have enough padding up top to fit the `nav`.
  // This allows for sane transitions, and also just feels good, aesthetically.
  segment:first-child
    padding-top: rhythm(2)
  // And on the bottom, too
  segment:last-child
    padding-bottom: rhythm(2)

// Perhaps counterintuitively, we use padding instead of margins.  This helps
// avoid situations where margins escape the node and influence its ancesors,
// and just generally keeps things more sane. 
p, code
  padding: rhythm(0.5) 0px
h1, h2, h3, h4, h5, h6
  padding: rhythm(1.5) 0px rhythm(0.5) 0px
segment > *
  padding-left:  rhythm(1)
  padding-right: rhythm(1)

// ### Navigation

// Nav components are always top right.  We don't position the nav, though, so
// that we have more control over animations.
nav menu, nav sections
  position: absolute
  top:      0px
  right:    0px
  width:    $nav-min-width

// The menu is arranged in a traditional toolbar format
nav menu
  // No flex boxing in absolute elements on Gecko :(
  // https://bugzilla.mozilla.org/show_bug.cgi?id=643984
  display: table-row
  z-index: 1000
  > *
    display:     table-cell
    line-height: rhythm(2)
    padding:     0px rhythm(0.5)
  // The search box expands to fill any remaining room
  .search
    width: 100%
    #search
      width: 100%

// Nav sections, while hidden by default, expand below the nav (full height)
nav sections
  top:     rhythm(2)
  bottom:  0px
  z-index: 1010

  // Each section fills the container
  > *
    position: absolute
    left:     0
    top:      0
    width:    100%
    height:   100%
    // overflows nicely
    overflow: auto
    -webkit-overflow-scrolling: touch
    // And only one is visible at a time
    display: none
    &.active
      display: block


// ## Small Screens

// `<= $commentary-max-width`
@media (max-width: 550px)
  // A small screen is a single column layout with the nav at the top of the
  // document.
  nav menu, nav sections
    width: 100%
  segment
    display: block
    comments
      width: auto

  // We need to poke WebKit for cases when the user resizes from wider than this
  // to a small screen; the document's scroll offset won't be frozen this way.
  document
    overflow: auto
    

// ## Medium/Large Screens

// `> $commentary-max-width`
@media (min-width: 551px)
  // This is the signature layout: commentary side by side w/ code.
  segment
    display: box
    > comments
      width: $commentary-max-width

  // The document becomes its own scroll area.  We can circumvent `position:
  // fixed` for the `nav`, which doesn't play nice on mobile webkit.
  document
    position: absolute
    top:      0
    left:     0
    bottom:   0
    right:    0
    overflow: auto
    -webkit-overflow-scrolling: touch

  // And make sure that our body doesn't collapse to nothingness
  html, body
    height: 100%
